.capitalize {
    text-transform: capitalize;
    
}
  
  /* Buttons & Links */
a {
    text-decoration: none;
    color: black;
}


  

  
a:hover {
    color: #0b94a3;
}
  
  /* Table */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
  

tr:nth-child(even) {
    background-color: #f2f2f2;
}
  
tr:hover {
    background-color: #ddd;
}
  
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #056b97;
    color: white;
}
  

